
<header class="container">
  <div class="row">
    <div class="col-sm-4">ZuboLand</div>
    <div class="col-sm-4">ZuboLand</div>
    <div class="col-sm-4">ZuboLand</div>
  </div>
</header>

<ul>
  <% @posts.each do |post| %>
  <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>